.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}

.activeButton {
    background-color: #2563eb !important;
    color: white !important;
    border-color: #2563eb !important;
}