/* src/components/game/Rink.module.css */
.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 10px
}

.rinkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.clickableRink {
    cursor: crosshair;
    display: block;
    max-width: 100%;
    height: auto;
}

.readOnlyRink {
    display: block;
    max-width: 100%;
    height: auto;
}

.iconContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}