.rinkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto; /* Center the container horizontally */
    /*width: fit-content; !* Make container only as wide as its content *!*/
}

.clickableRink {
    cursor: crosshair;
    display: block; /* Ensure image behaves as block element */
    max-width: 100%; /* Ensure image doesn't overflow container */
    height: auto; /* Maintain aspect ratio */
}

.iconContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Match the image width */
    height: 100%;
    pointer-events: none; /* Allows clicks to pass through to image */
}