.scoreContainer {
    background-color: #f8fafc;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.scoreHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    margin-bottom: 1rem;
}

.scoreValue {
    font-size: 1.5rem;
    font-weight: bold;
}

.teamStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1.5rem;
    justify-items: center;
}

.teamSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.teamHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.teamLogo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.statItem {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .teamStats {
        grid-template-columns: 1fr;
    }

    .scoreHeader {
        flex-direction: column;
        /*align-items: flex-start;*/
        gap: 0.5rem;
    }
}